/.cursor

# Environment variables
.env
.env.local
.env*.local
*.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Build outputs
dist/
build/
.next/
out/
remotion-promo/node_modules/.cache/webpack/remotion-development-4.0.418/72816c795416c8f685fc3daaf164f8ec/0.pack
remotion-promo/node_modules/.cache/webpack/remotion-development-4.0.418/72816c795416c8f685fc3daaf164f8ec/index.pack
